RNOTIFY_DATABASE_URI="sqlite:///rnotify.db"
RNOTIFY_NOTIFICATION_TEMPLATES="./templates/"

# RNOTIFY_NOTIFICATION_METHODS="email,telegram"
RNOTIFY_NOTIFICATION_METHODS="email"
RNOTIFY_TELEGRAM_BOT_TOKEN=""
RNOTIFY_TELEGRAM_CHAT_ID=""
