RNOTIFY_DATABASE_URI="sqlite:///sqlite.db"

RNOTIFY_CONFIG_DIR=".config/"
RNOTIFY_PROVIDERS_FILE=".config/providers.yaml"
RNOTIFY_PLATFORMS_FILE=".config/platforms.yaml"
RNOTIFY_NOTIFICATION_TEMPLATES="templates/notification/"
