RNOTIFY_DATABASE_URI="sqlite:///rnotify.db"
RNOTIFY_NOTIFICATION_TEMPLATES="./templates/"

# Github, Gitlab APIs Tokens
GITHUB_API_TOKEN=""
GITLAB_API_TOKEN=""

# RNOTIFY_NOTIFICATION_METHODS="email,telegram"
RNOTIFY_NOTIFICATION_METHODS="email"
